<app-card role="table" [initialized]="isInitialized">
  <div title>Configurations</div>
  <div content>
    <table mat-table [dataSource]=dataSource>
      <ng-container matColumnDef="organization">
        <th mat-header-cell *matHeaderCellDef>Organization ID</th>
        <td mat-cell *matCellDef="let configuration">{{ configuration.organizationId }}</td>
      </ng-container>
      <ng-container matColumnDef="controllers">
        <th mat-header-cell *matHeaderCellDef>Configured controllers</th>
        <td mat-cell *matCellDef="let configuration">
          <mat-chip-list *ngIf="configuration?.controllers?.length > 0">
            <mat-chip *ngFor="let elem of configuration?.controllers"
                      [selectable]="true"
                      [removable]="true"
                      (removed)="remove(elem, configuration)">
              {{ toControllerName(elem) }}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
          </mat-chip-list>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="['organization', 'controllers']"></tr>
      <tr mat-row *matRowDef="let row; columns: ['organization', 'controllers'];"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</app-card>


<button mat-fab class="app-fab" (click)="create()">
  <mat-icon aria-label="Add configuration">add</mat-icon>
</button>
