.mat-nav-list {
  padding-left: 8px;
}

.mat-list-item {
  &:hover {
    background: rgba(0, 0, 0, 0.1) !important;
  }
}

.mat-list-item, .mat-list-item-content {
  height: 40px !important;
}

.mat-divider {
  margin: 16px 0;
}

.app-nav-header {
  margin-left: 8px;
  font-size: 14px;
  color: gray;
}

.app-collapsed {
  margin-left: 64px !important;
}

.mat-drawer {
  overflow-y: unset;
}
